body {
  background: transparent url("../../public/background1.jpg") no-repeat fixed center;
  background-size: cover;
  overflow: hidden;
  margin: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

.title-bar-text, .noPointer, [selects=none] {
  pointer-events: none;
  user-select: none;
}

.noSelects, [selects=some] {
  user-select: none;
}

@media(min-aspect-ratio: 16/9) {
  .fixedAboutMe, .fixedExhibitA, .fixedExhibitB, .fixedExhibitC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    left: 0;
    width: 100%;
    top: 50%;
    aspect-ratio: 16/9;
    transform: translateY(-50%);
  }
}

@media(max-aspect-ratio: 16/9) {
  .fixedAboutMe, .fixedExhibitA, .fixedExhibitB, .fixedExhibitC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    height: 100%;
    left: 50%;
    aspect-ratio: 16/9;
    transform: translateX(-50%);
  }
}

.fixedAboutMe > div {
  margin-top: 3%;
  margin-right: 17%;
}

.fixedExhibitA > div {
  margin-bottom: 28%;
  margin-right: 18%;
}

.fixedExhibitB > div {
  margin-bottom: 12%;
  margin-left: 4%;
  opacity: 50%;
}

.fixedExhibitC > div {
  margin-top: 32%;
  margin-left: 34%;
}

.medium-modal {
  max-width: 33%;
}

.large-modal {
  max-width: 75%;
}

button  {
  user-select: none;
}